.example-viewport {
  height: 900px;
  width: 100%;
  border: 1px solid black;
}

.example-item {
  height: 50px;
}

.multi-col-scrolling {
  >.cdk-virtual-scroll-content-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}